{%extends 'base.html'%}
{%load static%}

{%block content%}
{%include 'navbar.html'%}
<div class="container-fluid">
  <div id="simon">
    <span class="lead">Hey, I'm Simon <span class="kimani">Kimani.</span> Nice to meet you.</span>

    <p><span class="type"></span></p>
    <div class="maicons">   
        <a href="#"> <i class="fab fa-github fa-2x" aria-hidden="true"></i></a>
        <a href="#"><i class="fab fa-google-plus-g fa-2x"></i></a>
        <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
   
      </div>

  </div>
  <div id="about" class="headings">
    <h1 class="hh1">About <strong>Me.</strong></h1><br>
    Hey, Am Simon.
    <p class="first">Am always pushing myself to grow
    by setting firm goals for myself. Then, once I've defined the benchmarks, I take the necessary steps to achieve
    those milestones.<br>Am someone who demonstrates an unwavering resolve to do whatever must be done to produce the best short-term and
    long-term results, <br>no matter how difficult because am very
    passionate about what i do. What else Do I do apart from programming? Well.<br> In my free time, I like being outdoors. I love nature. Makes me appreciate life even more.<br>I always  stop to admire the beautifu lanscapes nature has to offer and have always been left fascinated!</p>
  </div>
  
  <div id="projects" class="headings">
    <h1 class="hh1">My Projects.</h1>
  </div>
  <div id="skills" class="headings">
    <h1 class="hh1">Skills</h1>

<div class="container">

  <section class="section feature-box m-5">


    <div class="row features-big text-center wow fadeIn" data-wow-delay="0.4s">

   
      <div class="col-md-4 mb-2">

        
        <div class="card card-body hoverable">

          <i class="fab fa-python fa-3x m-4" aria-hidden="true"></i>

          <h5 class="font-weight-bold text-uppercase">Python.</h5>

          <p class="dark-grey-text">I have experience in Working with Python as a language and its frameworks(Django,Flask).</p>
</div>
          
        </div>
        <div class="col-md-4 mb-2">

        <div class="card card-body hoverable">

          <i class=" fab fa-html5 fa-3x m-2" aria-hidden="true"></i>

          <h5 class="font-weight-bold text-uppercase">Html</h5>

          <p class="dark-grey-text">Can create basic html layouts with Ease.

          </div>
        </div>

      

      <div class="col-md-4 mb-2">
         
    
        <div class="card card-body hoverable mycard">

          <i class="fab fa-css3-alt fa-3x m-2" aria-hidden="true"></i>

          <h5 class="font-weight-bold text-uppercase">CSS</h5>

          <p class="dark-grey-text">Can design beautiful styled layouts appealing to the users.</p>

        </div>
        
      

      </div>
      <div class="col-md-4 mb-2">
         
       
          <div class="card card-body hoverable mycard">
  
            <i class="fab fa-github fa-3x m-2" aria-hidden="true"></i>
  
            <h5 class="font-weight-bold text-uppercase">Github</h5>
  
            <p class="dark-grey-text">Great collaboration skills and effeciency in working with github</p>
  
          </div>   
         </div>
        <div class="col-md-4 mb-2">

       
            <div class="card card-body hoverable">
    
              <i class="fab fa-angular fa-3x m-2" aria-hidden="true"></i>
    
              <h5 class="font-weight-bold text-uppercase ">Angular </h5>
    
              <p class="dark-grey-text">Can interact with angular and come up with good designs.</p>
    
            </div>
          </div>
          <div class="col-md-4 mb-2">

       
              <div class="card card-body hoverable">
      
                <i class="fab fa-node-js fa-3x m-2" aria-hidden="true"></i>
      
                <h5 class="font-weight-bold text-uppercase">Js</h5>
      
                <p class="dark-grey-text">Through use of js and its libraries can make very interactive websites.</p>
      
              </div>
            </div>
    
      <div class="col-md-4 mb-2">

     
        <div class="card card-body hoverable mycard">

          <i class="fas fa-code fa-3x m-2" aria-hidden="true"></i>

          <h5 class="font-weight-bold text-uppercase ">Developer</h5>

          <p class="dark-grey-text">I love coding, it always drives my ability to convert ideas to a software.</p>

        </div>
        
      

      </div>
      
      <div class="col-md-4 mb-2">

       
        <div class="card card-body hoverable">

          <i class="fas fa-pencil-alt fa-3x m-2" aria-hidden="true"></i>

          <h5 class="font-weight-bold text-uppercase">Designer</h5>

          <p class="dark-grey-text">I love creative designs, simple content structure, and thoughtful interactions.</p>

        </div>
      </div>

  
   
   
  </section>


</div>
		
  </div>
  <div id="contacts" class="headings">
    <h1 class="hh1">Get in Touch</h1>
  </div>
  


</div>

{%endblock%}