
{%extends 'base.html'%}
{%block content%}
<div class="container-fluid">
<nav class="navbar nav-wrapper fixed-top scrolling-navbar navbar-expand-lg navbar-light blue lighten-4">
    <!-- Navbar brand -->
    <a class="navbar-brand header" href="">
        <img src="/static/images/logo.png" height="30" class="d-inline-block align-top "
            alt="mdb logo"> 
    </a>




    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
      aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="basicExampleNav">
      <!-- Links -->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Get in touch</a>
        </li>
        <!-- Dropdown -->
      </ul>
      <!-- Links -->
      <ul class="navbar-nav ml-auto nav-flex-icons">
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light">
            <i class="fab fa-twitter"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light">
            <i class="fab fa-google-plus-g"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light">
            <i class="fab fa-linkedin" aria-hidden="true"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light">
            <i class="fab fa-github" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </div>
    <!-- Collapsible content -->
  </nav>
  </div>

  {%endblock%}